pickup {
  pointer-events: none; //pass events to map

  #locator{
    background: url('../../img/1.png');
    position: absolute;
    left: 50%;
    top: 50%;
    width: 47px;
    height: 47px;
    margin-left: -25px;
    margin-top: -50px; //bottom of image is location on map
  }
}
