page-home {
    position: relative;
  .wrapper{
    width: 100%;
    height: 100%;
  }
  #map{
    width: 100%;
    height: 100%;
  }
  .bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .request-control{
    text-align: center;
    background: linear-gradient(transparent, map-get($colors, light));
  }
}
