<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button>
        <ion-icon [hidden]="!isPickUpRequested" name="arrow-back" (click)="cancelPickUp()">Cancel</ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span [hidden]="isPickUpRequested">PickMeUp</span>
        <span [hidden]="!isPickUpRequested">On the way....</span>
    </ion-title>
    <ion-buttons end>
      <button (click)="map.centerLocation()">
        <ion-icon name="navigate" (click)="cancelPickUp()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="wrapper">
    <map #map
      [isPickUpRequested]="isPickUpRequested"
      [destination]="destination">
    </map>
    <destination-address
      [hidden]="!isRiderPickedUp"
      (newDest)="setDestination($event)">
    </destination-address>
  </div>

  <div class="bottom request-control">
    <ion-row>
      <ion-col width-50>
        <button ion-button block color="light">
          <!-- <ion-icon  name="card"><ion-icon> -->
            Visa
        </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block color="light">
          <!-- <ion-icon  name="card"><ion-icon> -->
            Cash
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        <button ion-button [hidden]="isPickUpRequested" block color="primary" (click)="confirmPickUp()">Request Pickup</button>
        <button ion-button [hidden]="!isPickUpRequested" block color="dark" (click)="cancelPickUp()">Cancel Pickup</button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-50>
        PICKUP TIME IS APROXIMATELY {{timeTillArrival}}MIN
      </ion-col>
    </ion-row>
  </div>
</ion-content>
