<form (ngSubmit)="onSubmit()">
  <ion-list>
    <ion-item>
      <ion-label floating>Enter your destination</ion-label>
      <ion-input type="text" [(ngModel)]="enteredAddress" name="enteredAddress"></ion-input>
    </ion-item>

    <ion-item *ngFor="let destination of results" (click)="selectDestination(destination)">
      {{destination.formatted_address}}
    </ion-item>
  </ion-list>
</form>
