<!-- Generated template for the MapComponent component -->
<div class="wrapper">
  <div id="map"></div>
  <pickup
    [map]="map"
    [isPinSet]="isMapIdle"
    [isPickUpRequested]="isPickUpRequested"
    [destination]="destination"
    (updatedPickupLocation)="updatePickupLocation($event)" >
  </pickup>
  <available-cars
    [map]="map"
    [isPickUpRequested]="isPickUpRequested">
  </available-cars>
  <pickup-car
    [map]="map"
    [isPickUpRequested]="isPickUpRequested"
     [pickupLocation]="currentLocation"
     [destination]="destination">
   </pickup-car>
</div>
